.hiphop{
    max-width: 500px;
    border: 5px solid #991d7e; 
}
.break{
    max-width: 500px;
    border: 5px solid #922392; 
}
.hiphop{
    margin-bottom: 25px;
}
.dance{
    max-width: 500px;
    border: 5px solid #9917a5
}